<div class="container-fluid padd-50">
    <div class="container">
        <div class="col-md-12 text-center"><img src="@Url.Content("~/Images/logo_footer.png")" /></div>
        <div class="clearfix"></div>
        <div class="col-sm-4 col-md-4 line-top"><img src="@Url.Content("~/Images/footer-line.png")" class="img-responsive" /></div>
        <div class="col-sm-4 col-md-4 text-center" style="margin-top:30px;">
            <h2 class="welc-h3">LAN CENTER "ALE"</h2>
        </div>
        <div class="col-sm-4 col-md-4 line-btm"><img src="@Url.Content("~/Images/footer-line.png")" class="img-responsive" /></div>
        <div class="clearfix"></div>
        <div class="col-md-offset-4 col-md-4 social text-center">
            <ul>
                <li><a href="http://www.facebook.com/lancenterale" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="http://twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="http://youtube.com" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="http://instagram.com" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 foot-menu text-center">
            <ul>
                <li><a href="@Url.Action("Index", "Home")">INICIO</a></li>
                <li><a href="@Url.Action("Index", "Home")">PROMOCIONES</a></li>
                <li><a href="@Url.Action("Index", "Home")">EVENTOS</a></li>
                <li><a href="@Url.Action("Index", "Home")">NOSOTROS</a></li>
                <li><a href="@Url.Action("Index", "Home")">CONTACTO</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 text-center footer-theme-color">
            <p class="footer-p text-uppercase">Copyright © 2019 Lan Center Ale. Todos los derechos reservados</p>
            <p class="footer-p text-uppercase">Design by <a href="#">LC</a></p>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
