<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Images/favicon.jpg")">

    @*<link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="~/Content/font/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <link rel="stylesheet" type="text/css" href="~/Content/css/mega_menu.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/settings.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/navigation.css">
        <link rel="stylesheet" type="text/css" href="~/Content/css/slider.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css">
        <link href="~/Content/css/carousel.min.css" rel="stylesheet">
        <link href="~/Content/css/theme.min.css" rel="stylesheet">
        <link href="~/Content/css/transitions.css" rel="stylesheet">
        <link href="~/Content/font/font/flaticon.css" rel="stylesheet" type="text/css">
        <link href="~/Content/css/datepicker.css" rel="stylesheet" type="text/css">*@


    @Styles.Render("~/Content/lc_css")
    <link href="~/Content/css/css4673.css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="~/Content/css/css53c2.css?family=Righteous" rel="stylesheet">

    @RenderSection("moreStyles", required: false)
</head>

<body>
    <div id="loading">
        <div class="loader">
            <div class="duo duo1">
                <div class="dot dot-a"></div>
                <div class="dot dot-b"></div>
            </div>
            <div class="duo duo2">
                <div class="dot dot-a"></div>
                <div class="dot dot-b"></div>
            </div>
        </div>
    </div>
    <div id="back-to-top"> <a class="top arrow" href="#top"><i class="fa fa-long-arrow-up"></i></a></div>
    <!-- Header -->
    @{ Html.RenderPartial("_Header"); }
    <!-- Header Fin -->


    @RenderBody()




    <!-- Seccion Footer -->
    @{ Html.RenderPartial("_Footer"); }
    <!-- Seccion Footer -->

    <script src="~/Scripts/jquery/1.12.4/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/jQuery%20v1.12.0.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script>
        $(document).ready(function () {
            $('#example1').datepicker({
                format: "dd/mm/yyyy"
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#advtslider").owlCarousel({
                items: 1,
                itemsDesktop: [1000, 1],
                itemsDesktopSmall: [979, 1],
                itemsTablet: [768, 1],
                pagination: true,
                navigation: false,
                navigationText: ["", ""],
                slideSpeed: 1000,
                singleItem: true,
                transitionStyle: "fade",
                autoPlay: true
            });
        });
    </script>
    <script src="~/Scripts/gallery-offline.js"></script>
    <script type="text/javascript">
        $('.bxslider').bxSlider({
            minSlides: 1,
            maxSlides: 8,
            slideWidth: 279,
            slideMargin: 0,
            ticker: true,
            speed: 90000
        });
    </script>
    <script type="text/javascript" src="~/Scripts/mega_menu.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.themepunch.revolution.min.js"></script>
    <!-- SLIDER REVOLUTION 5.0 EXTENSIONS(Load Extensions only on Local File Systems !The following part can be removed on Server for On Demand Loading) -->
    <script type="text/javascript" src="~/Scripts/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Scripts/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Scripts/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Scripts/revolution-custom.js"></script>
    <script type="text/javascript" src="~/Scripts/custom-slider.js"></script>
    <script src="~/Scripts/main.js"></script>

    <script language=JavaScript>
        <!--

        //Disable right click script III- By Renigade (renigade@mediaone.net)
        //For full source code, visit http://www.dynamicdrive.com

        var message = "";
        ///////////////////////////////////
        function clickIE() {
            if (document.all) {
                (message);
                return false;
            }
        }

        function clickNS(e) {
            if (document.layers || (document.getElementById && !document.all)) {
                if (e.which == 2 || e.which == 3) {
                    (message);
                    return false;
                }
            }
        }
        if (document.layers) {
            document.captureEvents(Event.MOUSEDOWN);
            document.onmousedown = clickNS;
        } else {
            document.onmouseup = clickNS;
            document.oncontextmenu = clickIE;
        }

        document.oncontextmenu = new Function("return false")
                                                        // -->
    </script>
</body>
</html>
